<body>
    <div class="chat-container">
      <div class="chat-messages d-flex">
        <img src="{{image}}" alt="" class="m-2">
        <img src="{{upscaled_image}}" alt="" class="m-2">
      </div>
      <div class="d-flex justify-content-between">
        <!-- Default dropup button -->
        <div class="col text-end m-2">
          <div ngbDropdown placement="top-start" class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{ selectedRoom ? selectedRoom : 'Select Room' }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu-scroll">
              <button *ngFor="let room of roomList" ngbDropdownItem (click)="onRoomSelect(room)">{{ room }}</button>
            </div>
          </div>
        </div>

        <div class="col text-end m-2">
            <div ngbDropdown placement="top-start" class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{ selectedDesign ? selectedDesign : 'Select Design' }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu-scroll">
                <button *ngFor="let design of designStyleList" ngbDropdownItem (click)="onDesignSelect(design)">{{ design }}</button>
              </div>
            </div>
          </div>

        <input type="text" class="form-control m-2" [(ngModel)]="text" placeholder="Other Description (Optional)">
        <button type="button" class="btn btn-primary m-2" (click)="onSend()">Generate</button>
        <button type="button" class="btn btn-primary m-2" (click)="onUpscale()">Upscale</button>
      </div>
      <div class="loading-animation" *ngIf="loading">
        <div class="loader"></div>
      </div>
      
    </div>
  </body>
  