<section class="bg-dark font-off-white">
    <section class="d-flex justify-content-between pt-5 pb-5">
        <h2 class="ms-5">Design Flair</h2>
        <div>
            <a href="/login" type="button" class="btn btn-primary me-2">Sign in</a>
            <a href="/register" type="button" class="btn btn-primary me-5">Sign Up</a>
        </div>
    </section>
    <div class="divider"></div>
    <section class="d-flex flex-column align-items-center flex-1 mt-2 ">
        <h1 class="m-5">Design Your Dream Space with Design Flair AI Tools</h1>
        <p
            class="mx-auto mt-3 max-w-xl text-lg sm:text-gray-400 text-gray-500 leading-7 align-items-center justify-content-xl-center ">
            Create your dream home or living space with Design Falir's free AI online design tools. Simply provide
            the requirements for your room or home and get instant access to stunning interior and exterior design
            ideas. Whether you're looking to revamp a bedroom, kitchen, or your entire home, our intelligent design
            tools make it easy to visualize the possibilities and turn your vision into reality.</p>
        <button type="button" class="btn btn-primary mb-5 mt-2">Design</button>
    </section>
</section>